.osnova{
    width:31,25vw;
    height:55.851063829787236vh;
}
.opisanie{
    margin-right: 1100px;
    background-color: aqua;
    color: rgb(255, 255, 255);
}
.s{
    color: rgb(159, 7, 219);
}
.a{
    color: firebrick;
}
.crimea{
   margin-right: 0%;
   width: 31,25vw;
   height: 42.5531914893617vh;
}
.fa{
    padding-left:1290px;
    background-color: bisque;
}
