.h1{
    color: red;
}
.fotospace{
    width:430px;
    height: 430px;
}
.donat{
    color: red;
}
.standoff{
       color: red;
}
.strim{
    color:rgb(223, 14, 188);
    margin-left: 900px;
    width:200px;
    height: 200px;
}
    
